@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Sofia&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-size: 16px;
  margin: 0px;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
.orange {
    color: #fea301;
}
.blue {
    color: #01acfd;
}
.dark {
  color: #111111;
}
.size {
  width: 80%;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0 auto;
}
nav {
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-1 > p {
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 30px;
  color: #111111;
}
.nav-2 > ul {
  gap: 32px;
  display: flex;
  list-style: none;
}
.nav-2 > ul > li {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.nav-2 > ul > .l1 {
  color: #fea301;
  font-weight: bold;
}
.nav-2 > ul > .l2 {
  color: #01acfd;
}
.nav-2 > ul > .l3 {
  color: rgba(5, 212, 223, 1);
}
.nav-2 > ul > .l4 {
  color: rgba(93, 88, 239, 1);
}
.btn {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  padding: 10px 60.5px;
  border: none;
  color: white;
  background: #fea301;
  border-radius: 12px;
}
.icon {
  display: none;
}
@media screen and (max-width: 512px) {
  body {
    background: #0000e137;
  }
  nav {
    width: 100%;
  }
  nav > div {
    margin: 16px;
  }
  .nav-1 p,
  li,
  button,
  .icon {
    display: none;
  }
  .icon {
    display: flex;
  }
}

/* <!-- home-page-main part --> */
.home-page{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    /* justify-content: space-between; */
}
.home-page>div>h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
}
.home-page>div>p{
    font-size: 1.25rem;
    margin-bottom: 24px 0;  
}
.home-page>div>.btn{
    padding: 10px 47px;
    background: #111111;
}

/* second-page */
.second-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}
.second-page>h1{
    font-size: 46px;
    font-weight: bold;
    line-height: 57.5px;
    margin-bottom: 80px;
}
.scroll{
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}
.scroll div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #FEA301;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 40px;
}
.card-holder{
    gap: 28px;
    display: flex;
    text-align: center;
    margin-bottom: 80px;
}
.img-con{
    margin-top: 50px;
    height: 137px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.card{
    border-radius: 19px;
}
.card>h3{
    font-size: 25px;
    font-weight: bold;
    line-height: 30.7px;
}
.card>p{
    font-size: 15px;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    line-height: 28px;
}
.card>button{
    border: none;
    background: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 50px;


}
.card>.r1{
    color: rgba(100, 200, 255, 1);
}
.card>.r2{
    color: rgba(240, 170, 0, 1);
}
.card>.r3{
    color: rgba(135, 0, 255, 1);
}
.c1,.c3{
    background: linear-gradient(rgb(222, 240, 255),white 40%);
    border: 1px solid rgba(222, 245, 255, 1);
}
.c2{
    background: linear-gradient(#FFF4DC,white 40%);
    border: 1px solid #FFF4DC;
}
